@model IEnumerable<API.Models.AssetSubmission>

@{
    ViewData["Title"] = "GetSubmissionAdmin";
    Layout = "_AdminLayout";
}

<h1>GetSubmissionAdmin</h1>


<table class="table" id="dataTableGetSubmissionAdmin">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>

@section Scripts
{
 <script src="~/js/SubmissionAdmin/Submission.js"></script>
}